.details {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 3.2rem 2.4rem;
    gap: 3rem;
}

.details__content {
    align-items: center;  
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 383px;
}

.details__img {
    border-radius: 16px;
    height: 239px;
    width: 312px;
}

.details__img.comum {
    background: url('/src/img/setores/setor_pista.svg') center / cover no-repeat;
}

.details__img.premium {
    background: url('/src/img/setores/setor_pista-premium.svg') center / cover no-repeat;
}

.details__img.cadeiras {
    background: url('/src/img/setores/cadeira.svg') center / cover no-repeat;
}

.details__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height:3.757rem;
    text-align: center;
    margin: 0 2.4rem;
}

.details__text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 4rem;
}

@media screen and (min-width:768px) {
    .details {
        margin: 3.2rem 6rem;
    }
}

@media screen and (min-width:1440px) {
    .details {
        flex-direction: row;
        height: 631px;
    }

    .details__content:nth-of-type(2) {
        justify-content: end;
    }
}