.map {  
    display: flex;
    justify-content: center;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 7rem;
}

.legend__title--container {
    width: 100%;
}

.legend__title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3.2rem;
}

.track__content {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.8rem;
}

.track__color {
    height: 32px;
    width: 32px;
}

.premium {
    background-color: #0E7DF1;
}

.comum {
    background-color: #FE016E; 
}

.terreo {
    background-color: #01A89E;
}

.superiores {
    background-color: #3F51B5;
}

.rampas {
    background-color: #0E7DF1;
}

.track__description {
    font-size: 2rem;
}

@media screen and (min-width:768px) {

    .legend {
        align-items: center;
    }
}

@media screen and (min-width:1366px) {
    .location {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 3.2rem 12rem;
    }

    .map__img {
        height: 690px;
        width: 609px;
    }
}